<!doctype html>
<html>
	<head>
		<title>
			{{#if meta-title}}
			{{meta-title}}
			{{else}}
			Boilerplate Handlebars
			{{/if}}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{meta-description}}">
		<meta name="keywords" content="{{meta-keyword}}">
		<meta name="author" content="?">
		<meta name="theme-color" content="#317EFB"/>
		<link rel="stylesheet" href="/css/app.css">
		
		{{#> head-block}}
		
		{{!-- Custom <head> content per page could be added. --}}
		
		{{/head-block}}
	</head>
	<body class="">
		
		<div id="wrapper">
			
			{{> includes/global_header }}
			
			{{#> content-block}}
			{{!-- content goes here. --}}
			{{/content-block}}	
			
			<hr>
		</div>
		
		{{#> footer-block}}
		{{!-- The `includes/footer` default content. --}}
		{{> includes/global_footer }}
		{{/footer-block}}
		
		<script src="/js/export.min.js"></script>
		<script src="/js/app.min.js?v=190512.2217"></script>

		{{#> scripts-block}}
		{{!-- Custom scripts goes here. --}}
		{{/scripts-block}}
	</body>
</html>