{{!-- pages/index.hbs --}}

{{#> layouts/base 
	meta-title='Hello' 
	meta-description='This is a boilerplate handlebars for HTML templating' 
	meta-keyword='HTML, CSS, SASS'
}}

{{#*inline 'content-block'}}

<div class="row">	
	<div class="column medium-6">
		<h2>Index Page Content</h2>
		<p>Lorem Ipsum</p>
	</div>
</div>

{{/inline}}

{{/layouts/base}}